<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<title th:text="${titulo}">Insert title here</title>

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">FIM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/form}">Crear Factura</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">Listado</a>
      </li>
    </ul>
  </div>
</nav>

<body class="container">
<div>
	<h1 class="text-primary border border-success border-top-0 border-left-0 border-right-0" th:text="${titulo}"></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Id Documento</th>
			<th>Tipo</th>
			<th>Razon Social</th>
			<th>Monto Afetoc</th>
			<th>Tasa IVA</th>
			<th>Fecha Emision</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="documento : ${documentos}">
			<th th:text="${documento.id}"></th>
			<th th:text="${documento.tipo}"></th>
			<th th:text="${documento.razon_social}"></th>
			<th th:text="${documento.monto_afecto}"></th>
			<th th:text="${documento.tasa_iva}"></th>
			<th th:text="${documento.fecha_emision}"></th>
		</tr>
	</tbody>
</table>
<nav th:replace="paginator-nav :: paginator"></nav>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>